{{#each groceries}}

<div class="item">
    <div class="image">
        <img class="food-image" src="{{image}}" alt="apple" class="image" onclick="location.href='/description/:{{id}}'"  style="cursor: pointer;">
        <div id="price">
            ${{price}}
        </div>
    </div>

    <h3>{{name}}</h3>

    <div class="interaction-container">
        <div id="interact" >
            <div class="button-remove" onclick="location.href='/description/:{{id}}'"  style="cursor: pointer;">
                <p>Remove</p>
            </div>
            <div class="button-add" onclick="location.href='/description/:{{id}}'"  style="cursor: pointer;">
                <p>Add</p>
            </div>
        </div>
    </div>

</div>

{{/each}}