{{>nav}}
<div class="itemDetail-container">
    <div class="img-container">
        <img src="{{image}}" alt="{{name}}" class="itemDetail-image">
        <div class="price-container">
            <p class="price-text">$ {{price}}</p>
        </div>
    </div>
    <h2>{{name}}</h2>
    <p>{{description}}</p>

    <div class="buttons-container">
        <form class="form" action="/add/{{id}}" method="post">
            <input type="submit" name="" value="Add"  class="button add green">
        </form>

        <form class="form" action="/remove/{{id}}" method="post">
            <input type="submit" name="" value="Remove" class="button remove red">
        </form>
    </div>
</div>